@import "tailwindcss";

.container2 {
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 1400px) {
    .container2 {
        width: 1350px;
    }
}

input,
select,
button {
    outline: none;
}

button,
select {
    cursor: pointer;
    appearance: none;
}

section,
footer {
    background: #1f2025;
}

.btn {
    background: #fff;
    color: #333;
    padding: 7px 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 20px 0 rgba(15, 15, 15, 0.2);
    border-radius: 8px;
    border: 2px solid #fff;
    transition: color 0.2s;
    font-weight: 600;
}

.btn:active {
    transform: scale(0.98);
}

.showcase {
    background: url(../src/assets/img/cube.png), #1f2025;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wave {
    background: url(../src/assets/img/wave_bg.png), #1f2025;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-weight: 600;
    font-size: 35px;
    line-height: 110%;
    color: #f1f1f1;
}

@media (max-width: 620px) {
    .title {
        font-size: 25px;
    }
}

@media (max-width: 350px) {
    .title {
        font-size: 19px;
    }
}

/* 1f2025 */
